button {
  margin: 5px;
  text-align: center;
}
body{
  background-color: #B0BEC5;
}
div#footer {
  position:fixed;
  bottom:0px;
  left:0px;
  width:100%;
  color:#CCC;
  background:#333;
  padding:8px;
}